<div class="wrapper">
  <form [formGroup]="taskForm">
    <div class="form-wrapper">
      <div class="form-group">
        <h4>Desire item:</h4>
        <input formControlName="title" type="text" class="form-control" placeholder="Type something...">
      </div>
      <button (click)="onSubmitTask()" [disabled]="taskForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Button</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of taskList">
        <td>{{item.id}}</td>
        <td [ngStyle]="{'text-decoration': item.isDone ? 'line-through' : 'none'}">{{item.title}}</td>
        <td>
          <app-task-item
            [task]="item"
            (deleted)="onDeleteTask($event)"
            (edited)="onEditTask($event)"
            (done)="onDoneTask($event)">
          </app-task-item>
        </td>
      </tr>
    </tbody>
  </table>

