<!-- navbar and game logo -->
<div class="container">
  <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md0auto text-dark text-decoration-none"
    >
      <img class="me-2" width="auto" height="45" src="../assets/logo.png" />
      <span class="fs-4" style="color:#f906ac">Dice Game</span>
    </a>
  </nav>
</div>
<!-- player's name and submit -->
<form [formGroup]="form">
<div class="container">
  <div class="input-group mb-3">
      <h5 class="form-label" style="color:#c806f9 ">First Player:</h5>
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          placeholder="Player's username"
          formControlName="FirstPlayer"
        />
        <div class="input-group-append"></div>
      </div>
  </div>

  <div class="input-group mb-3">
      <h5 class="form-label" style="color:#c806f9">Second Player:</h5>
      <input
        type="text"
        class="form-control"
        placeholder="Player's username"
        formControlName="SecondPlayer"
      />
    </div>
    <div class="input-group-append">
      <br />
      <button (click)="onClick()" class="btn btn-outline-secondary Button" [disabled]="form.invalid">
        Submit
      </button>
    </div>
    <div *ngFor="let i = index let item of Data ">
      <h4> {{ item.firstPlayer }} </h4>
      <h4> {{ item.secondPlayer }} </h4>
  </div>

