<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md0auto text-dark text-decoration-none">
            <img class="me-2" width="auto" height="45" src="../assets/logo.png" >
            <span class="fs-4">Dice Game</span>
        </a>
    </header>
</div>

<div class="main-container">

    <section class="container game-container">
        <div class="text-center">
           <button type="button" class="btn btn-primary mt-4"  (click)="onClick()">ROll</button>
        </div>
        <div class="text-center">
            <img src="../../assets/dice1.PNG" class="dice">
         </div>
    </section>

    <section class="container result-container">
       <div class="text-center">
       <h3>Results</h3> 
    </div> 
  </section>
</div>